NEXT_PUBLIC_API_BASE_URL=http://localhost:4000/api
NEXT_PUBLIC_STELLAR_NETWORK=TESTNET
NEXT_PUBLIC_GIFT_ESCROW_CONTRACT_ID=CAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABSC4
NEXT_PUBLIC_ANCHOR_HOME_DOMAIN=testanchor.stellar.org
